<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/logout::logout"></div>
<table>
    <tr>
        <th>ФИО</th>
        <th>Специальность</th>
        <th>Опыт</th>
    </tr>
    <tr th:each="doctor : ${allDoctors}" >
            <td th:text="${doctor.getFullName()}"></td>
            <td th:text="${doctor.getDoctorSpecialty().getRussianName()}"></td>
            <td th:text="${doctor.getExperience()}"></td>
            <td><button><a th:href="@{/deleteDoctor(doctorId = ${doctor.getId()})}" th:value="${doctor.getId()}">Удалить</a></button></td>
            <td><button><a th:href="@{/updateDoctor(doctorId = ${doctor.getId()})}">Редактировать</a></button></td>
    </tr>
    <button><a th:href="@{/createDoctor}">Создать нового врача</a></button>
</table>
</body>
</html>