<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create_doctor</title>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/logout::logout"></div>
<form action="/createDoctor" method="post" th:object="${doctorDto}">
    <fieldset>
        <legend th:hidden="(*{id} != null)">Создать нового доктора:</legend>
        <legend th:hidden="(*{id} == null)">Редактирование доктора:</legend>

        <input type="hidden" th:field="*{id}">
        <label for="fullName">ФИО:</label>
        <input type="text" id="fullName" name="fullName" th:field="*{fullName}">
        <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p><br>
        <label for="specialty">Специальность:</label>
        <select id="specialty" th:field="*{doctorSpecialty}">
            <option th:each="specialty: ${specialties}"
                    th:value="${specialty.name()}"
                    th:text="${specialty.getRussianName()}"></option>
        </select>
        <p th:if="${#fields.hasErrors('doctorSpecialty')}" th:errors="*{doctorSpecialty}"></p>
        <br>
        <label for="experience">Опыт:</label>
        <input type="number" placeholder="Введите число" min="0" max="50" step="0.5" id="experience" name="experience"
               th:field="*{experience}">
        <p th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"></p><br>
        <input type="submit" value="Сохранить">
    </fieldset>
</form>
</body>
</html>