<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Создать нового доктора:</h2>
<form action="/createDoctor" method="post" th:object="${doctorDto}">
    <label for="fullName">ФИО:</label>
    <input type="text" id="fullName" name="fullName" th:field="*{fullName}">
    <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p><br>
    <label for="specialty">Специальность:</label>
    <select id="specialty" th:field="*{doctorSpecialty}">
        <option th:each="specialty: ${specialties}"
                th:value="${specialty.name()}"
                th:text="${specialty.getRussianName()}"></option>
    </select>
    <p th:if="${#fields.hasErrors('doctorSpecialty')}" th:errors="*{doctorSpecialty}"></p>
    <br>
    <label for="experience">Опыт:</label>
    <input type="number" placeholder="Введите число" min="0" max="50"  step="0.5" id="experience" name="experience" th:field="*{experience}">
    <p th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"></p><br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>