<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/logout::logout"></div>
<div th:object="${savedOrder}">
    <div th:text="'Вы записаны к '+ ${savedOrder.getDoctor().getFullName()} + ' на '
    + |${#temporals.format(savedOrder.getAppointmentTime(), 'dd.MM.yyyy HH:mm')}|"></div>
    <button>
        <a th:href="@{/schedule/{id} (id=${savedOrder.getDoctor().getId()})}">Назад</a>
    </button>
</div>
</body>
</html>