<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="bg bg-opacity-10">
    <div class="container ">
        <div th:if="${savedOrder}">
            <div class="nav justify-content-end" style="padding: 30px;">
                <a class="main btn btn-primary" style="margin-right: 20px; width: 120px;"
                   th:href="@{/schedule/{id} (id=${doctorId}, dateTime=${now})}">Назад</a>
                <a class="main btn btn-primary" style="margin-right: 20px; width: 120px;" th:href="@{/main}">На
                    главную</a>
                <div th:replace="fragments/logout::logout"></div>
            </div>
            <h2 class="basic">Ваша запись</h2>
            <hr style="height: 3px; color: #6610f2;">
            <div class="data" th:object="${savedOrder}">
                <div th:text="${savedOrder.getDoctor().getDoctorSpecialty().getRussianName()} + ' - '+ |${savedOrder.getDoctor().getFullName()}| + ' на '
    + |${#temporals.format(savedOrder.getAppointmentTime(), 'dd.MM.yyyy HH:mm')}|">
                </div>
            </div>
        </div>
        <div th:if="${errorMsg}">
            <div class="nav justify-content-end" style="padding: 30px;">
                <a class="main btn btn-primary" style="margin-right: 20px; width: 120px;"
                   th:href="@{/schedule/{id} (id=${doctorId}, dateTime=${now})}">Назад</a>
                <a class="main btn btn-primary" style="margin-right: 20px; width: 120px;" th:href="@{/main}">На
                    главную</a>
                <div th:replace="fragments/logout::logout"></div>
            </div>
            <p class="error" style="font-size: 30px;font-weight: 400;text-align: center;padding: 60px;" th:text="${errorMsg}"></p>
        </div>
    </div>
</div>
</body>
</html>