<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/logout::logout"></div>
<button>
    <a th:href="@{/get/{specialty} (specialty=${doctor.doctorSpecialty})}">Назад</a>
</button>
<button>
    <a th:href="@{/main}">На главную</a>
</button>
<table>
    <caption th:text="${doctor.fullName} +' - '+ |${doctor.doctorSpecialty.getRussianName()}|"></caption>
    <thead>
    <tr>
        <th th:each="day: ${currentWeek}" th:text="${#temporals.format(day, 'EEEE')}"></th>
    </tr>
    <tr>
        <th th:each="day: ${currentWeek}" th:text="${#temporals.format(day, 'dd-MM-yyyy')}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="time: ${intervals.keySet()}">
        <td th:each="record: ${intervals.get(time)}">
            <!--TODO: check how to make it via body-->
            <form method="post"
                  th:action="@{/createOrder(doctorId = ${record.getDoctorId()}, appointment = ${record.getAppointment()})}">
                <input type="submit" th:disabled="${record.isOrdered()}" th:value="${#temporals.format(time, 'HH:mm')}">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>